/* Star Rating */
.rating-list {
    margin-left: 1rem;
}
.rating-list li {
    float: right;
    color: #ddd;
    padding: 10px 5px;
}

.rating-list li:hover,
.rating-list li:hover~li {
    color: orange;
}

.rating-list {
    display: inline-block;
    list-style: none;
    width: fit-content
}

.checked {
    color: orange;
}

span.fa-star {
    width: 1rem
}

/* Navbar */

.navbar {
    padding-right: 2rem;
    padding-left: 2rem;
}

/* Footer */

footer {
    position: relative;
    bottom: 0;
    left: 0;
    margin-top: 2rem;
    padding-top: 0.5rem;
    height: 2.99rem;
    width: 100%;
}

.short-page-col {
    min-height: 51rem;
}

/* Main page */

#welcome-col {
    margin-top: -4rem;
    height: 30rem;
    background-image: url('/static/images/background-img.jpg');
    min-height: 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    }

.welcome-row {
    bottom: -10rem;
    position: relative;
}

.welcome-text {
    color: #ffc;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000
}

h1.welcome-text {
    font-size: 4rem;
}

.card-img-top {
    max-height: 7.8rem;
}

.recipe-link {
    text-decoration: none;
}

.recipe-link:hover {
    text-decoration: underline;
}


/* Recipe Page */

.big-star {
    letter-spacing: 2rem;
}

#summary {
    padding-left: 0;
    margin-bottom: 2rem;
}

.list-parent > ul {
    padding-left: 4rem;
}

.list-parent > ol {
    padding-left: 4rem;
}

/* Forms */

.form-group {
    padding-bottom: 1rem;
}

.note-editor.note-frame.panel.panel-default {
    width: 20rem;
}
