{% extends "base.html" %} {% block content %}

<div class="container-fluid">
  <div class="row">
    <div id="welcome-col" class="col-12 mt-1">
        <div class="row welcome-row">
            {% if recipe_list %}
            {% if request.path == '/' %}
            <h1 class="text-center welcome-text">Welcome to Time to Dine</h1>
            <h2 class="text-center welcome-text">Below are some of the many recipes created by people just like you!</h2>
            {% elif '/category/' in request.path %}
            <h1 class="text-center welcome-text">{{ recipe_category }}</h1>
            {% endif %}
            {% else %}
            <h1 class="text-center welcome-text">There are no recipes
                {% if '/category/' in request.path %} in the {{ recipe_category }} category {% endif %}
                available.</h1>
            {% endif %}
        </div>
    </div>
    <div class="col-10 mt-2 offset-1 bg-white">
      <div class="row">
        {% for recipe in recipe_list %}
        <div class="col-md-6">
          <div class="card mb-5 recipe-card">
            <div class="card-body">
              <div class="row">
                <div class="col-md-8">
                  <a class="recipe-link text-success" href="{% url 'recipe_page' recipe.slug %}">
                    <h2 class="card-title">{{ recipe.title }}</h2>
                  </a>
                  <h3 class="card-text pb-2">by {{ recipe.author }}</h3>
                </div>
                <div class="col-md-4">
                  <div class="image-container">
                    {% if "placeholder" in recipe.featured_image.url %}
                    <img
                      id="main-page-image"
                      class="card-img-top"
                      src="https://images.pexels.com/photos/269257/pexels-photo-269257.jpeg"
                      alt="image of {{ recipe.title }}"
                    />
                    {% else %}
                    <img
                      id="main-page-image"
                      class="card-img-top"
                      src=" {{ recipe.featured_image.url }}"
                      alt="image of {{ recipe.title }}"
                    />
                    {% endif %}
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-12 mt-2">
                  <div class="row">
                    <div class="col-4">
                      <p class="card-text mb-0">Difficulty: {{ recipe.difficulty }}</p>
                    </div>
                    <div class="col-4">
                      <p class="card-text">
                        {{ recipe.time_to_prepare }} minutes
                      </p>
                    </div>
                    <div class="col-4">
                      <p class="card-text mb-0">Rating:</p>
                      <p class="nowrap">
                        <span
                          class="fa fa-star {% if recipe.average_star_rating > 0 %} checked {% endif %}"
                        ></span>
                        <span
                          class="fa fa-star {% if recipe.average_star_rating > 1 %} checked {% endif %}"
                        ></span>
                        <span
                          class="fa fa-star {% if recipe.average_star_rating > 2 %} checked {% endif %}"
                        ></span>
                        <span
                          class="fa fa-star {% if recipe.average_star_rating > 3 %} checked {% endif %}"
                        ></span>
                        <span
                          class="fa fa-star {% if recipe.average_star_rating > 4 %} checked {% endif %}"
                        ></span>
                      </p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        {% if forloop.counter|divisibleby:3 %}
      </div>
      <div class="row">{% endif %} {% endfor %}</div>
    </div>
  </div>
  {% if is_paginated %}
  <nav aria-label="Page Navigation">
    <ul class="pagination justify-content-center">
      {% if page_obj.has_previous %}
      <li>
        <a href="?page={{ page_obj.previous_page_number }}" class="page-link">
          &laquo; Prev
        </a>
      </li>
        {% endif %} {% if page_obj.has_next %}
      <li>
        <a href="?page={{ page_obj.next_page_number }}" class="page-link">
          &raquo; Next
        </a>
      </li>
      {% endif %}
    </ul>
  </nav>
  {% endif %}
  <div class="col-10 mt-4 offset-1">
    <div class="row">
        <h5 class="text-center">Don't forget that you can <a href="{% url 'add_recipe' %}">create your own recipes</a> to be enjoyed by the public</h4>
    </div>
  </div>
</div>

{% endblock %}
