{% extends "base.html" %} {% block content %}

<div class="container-fluid">
  <div class="row">
    <div class="col-12">
      <div class="row">
        <div><h2>Chicken Chow Mein</h2></div>
        <div><h2>Pork Loin</h2></div>
        <div><h2>Frozen Yogurt</h2></div>
      </div>
      <div class="row">
        <div><h2>Cheese Board</h2></div>
        <div><h2>Rhubarb Tart</h2></div>
        <div><h2>Pasta and Pesto</h2></div>
      </div>
    </div>
  </div>
  {% if is_paginated %}
  <nav aria-label="Page Navigation">
    <ul class="pagination justify-content-center">
      {% if page_obj.has_previous %}
      <li>
        <a href="?page={{ page_obj.previous_page_number }}" class="page-link">
          &laquo; Prev
        </a>
      </li>
      {% endif %} {% if page_obj.has_next %}
      <li>
        <a href="?page={{ page_obj.next_page_number }}" class="page-link">
          &raquo; Next
        </a>
      </li>
      {% endif %}
    </ul>
  </nav>
  {% endif %}
</div>

{% endblock %}
