{% extends "base.html" %} {% block content %}

<div class="container-fluid">
  <div class="row">
    <div class="col-12">
      <div class="row">
        {% for recipe in recipes %}
        <div class="col-md-4">
          <div class="card">
            <div class="card-body">
              {% if recipe.status is 1 %}
              <a class="recipe-link text-success" href="{% url 'recipe_page' recipe.slug %}">
                <h2 class="card-title">{{ recipe.title }}</h2>
              </a>
              {% else %}
              <a class="recipe-link text-warning" href="{% url 'recipe_page' recipe.slug %}">
                <h2 class="card-title">{{ recipe.title }}</h2>
              </a>
              {% endif %}
              <div class="col-12">
                <div class="row">
                    {% if recipe.status is 0 %}
                    <div class="col-4 m-auto">
                      <a class="btn btn-info" href="{% url 'submit_recipe' recipe.slug %}">Submit Recipe</a>
                    </div>
                    {% else %}
                    <div class="col-4 m-auto">
                      {% if recipe.approved is False %}
                      <div class="btn bg-white border-warning" style="pointer-events: none;">
                        <p class="card-text">Pending</p>
                      </div>
                      {% else %}
                      <div class="btn bg-white border-success" style="pointer-events: none;">
                        <p class="card-text">Approved</p>
                      </div>
                      {% endif %}
                    </div>
                    {% endif %}
                    <div class="col-4 m-auto">
                        <a class="btn btn-warning" href="{% url 'update_recipe' recipe.slug %}">Edit</a>
                    </div>
                    <div class="col-4 m-auto">
                        <a class="btn btn-danger" href="{% url 'delete_recipe' recipe.slug %}">Delete</a>
                    </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        {% if forloop.counter|divisibleby:3 %}
      </div>
      <div class="row">{% endif %} {% endfor %}</div>
    </div>
  </div>
  {% if is_paginated %}
  <nav aria-label="Page Navigation">
    <ul class="pagination justify-content-center">
      {% if page_obj.has_previous %}
      <li>
        <a href="?page={{ page_obj.previous_page_number }}" class="page-link">
          &laquo; Prev
        </a>
      </li>
      {% endif %} {% if page_obj.has_next %}
      <li>
        <a href="?page={{ page_obj.next_page_number }}" class="page-link">
          &raquo; Next
        </a>
      </li>
      {% endif %}
    </ul>
  </nav>
  {% endif %}
</div>

{% endblock %}
