{% extends "base.html" %} {% block content %}

<!-- Should the user be authenticated and have a list of recipes saved into
the database, they will all be displayed here. Alternative links are provided
should the user not be authenticated or not have any recipes -->
<div class="short-page-col container-fluid">
  <div class="row"></div>
  <div class="row">
    <div id="welcome-col" class="col-12 mt-1">
        <div class="row welcome-row">
            <h1 class="text-center welcome-text">My Recipes</h1>
            {% if recipes %}
            <h2 class="text-center welcome-text">
                Where you can manage all of your recipes
            </h2>
            {% elif recipes != True and user.is_authenticated %}
            <h2 class="text-center welcome-text">
                <a class="recipe-link text-bold text-white" href="{% url 'add_recipe' %}">To get started click here to add your own recipes</a>
            <h2>
            {% endif %}
        </div>
    </div>
    <div class="col-md-10 offset-md-1">
      <div class="row">
        {% if user.is_authenticated == False %}
        <div class="container">
            <div class="row">
                <div class="card-body text-center">
                    <h1>You are not currently signed in.</h1>
                    <h2>
                        To sign into your account,
                        <a href="{% url 'account_login' %}">click here</a>
                    </h2>
                    <h2>
                        Or to register for a new account,
                        <a href="{% url 'account_signup' %}">click here</a>
                    </h2>
                </div>
            </div>
        </div>
        {% else %}
        <!-- These recipe cards provide links to the user's recipes, as well as
        links to the submit, update and delete pages -->
        {% for recipe in recipes %}
        <div class="col-md-4 mt-2 mb-5">
          <div class="card recipe-card">
            <div class="card-body">
              <div class="row">
                {% if recipe.status is 1 %}
                <a class="recipe-link text-success" href="{% url 'recipe_page' recipe.slug %}">
                  <h2 class="card-title">{{ recipe.title }}</h2>
                </a>
                {% else %}
                <a class="recipe-link text-warning" href="{% url 'recipe_page' recipe.slug %}">
                  <h2 class="card-title">{{ recipe.title }}</h2>
                </a>
                {% endif %}
              </div>
              <div class="col-md-12">
                <div class="row">
                    {% if recipe.status is 0 %}
                    <div class="col-4 m-auto d-flex align-items-center justify-content-center">
                      <a class="btn btn-info" href="{% url 'submit_recipe' recipe.slug %}">Submit Recipe</a>
                    </div>
                    {% else %}
                    <div class="col-4 m-auto d-flex align-items-center justify-content-center">
                      {% if recipe.approved is False %}
                      <div class="btn bg-white border-warning" style="pointer-events: none;">
                        <p class="card-text">Pending</p>
                      </div>
                      {% else %}
                      <div class="btn bg-white border-success" style="pointer-events: none;">
                        <p class="card-text">Approved</p>
                      </div>
                      {% endif %}
                    </div>
                    {% endif %}
                    <div class="col-4 m-auto d-flex align-items-center justify-content-center">
                        <a class="btn btn-warning" href="{% url 'update_recipe' recipe.slug %}">Edit</a>
                    </div>
                    <div class="col-4 m-auto d-flex align-items-center justify-content-center">
                        <a class="btn btn-danger" href="{% url 'delete_recipe' recipe.slug %}">Delete</a>
                    </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        {% if forloop.counter|divisibleby:9 %}
      </div>
      <div class="row">{% endif %} {% endfor %}</div>
    </div>
  </div>
  <!-- The following provides a page-link to view the next page of recipes -->
  {% if is_paginated %}
  <nav aria-label="Page Navigation">
    <ul class="pagination justify-content-center">
      {% if page_obj.has_previous %}
      <li>
        <a href="?page={{ page_obj.previous_page_number }}" class="page-link">
          &laquo; Prev
        </a>
      </li>
      {% endif %} {% if page_obj.has_next %}
      <li>
        <a href="?page={{ page_obj.next_page_number }}" class="page-link">
          &raquo; Next
        </a>
      </li>
      {% endif %}
    </ul>
  </nav>
  {% endif %}
</div>
{% endif %}

{% endblock %}
