{% extends "base.html" %} {% block content %} {% load crispy_forms_tags %}
{% if recipe.approved == False and request.user != recipe.author %}
<div class="alert alert-info">
    <p>This recipe has not been approved by an admin, and can only be viewed by the author.</p>
    <p>To view recipes approved by our admins, please <a href="{% url 'home' %}">click here</a>.</p>
</div>
{% else %}
<div class="container mb-4">
  <div class="row">
    <div class="col-md-6">
      <div class="row">
        <h1>{{ recipe.title }}</h1>
      </div>
      <div class="row">
        <p>{{ recipe.author }} | {{ recipe.created_on }}</p>
      </div>
      <div class="row">
        <div class="col-md-3">
          <i class="fa-solid fa-gauge"></i>
          <p>{{ recipe.difficulty }}</p>
        </div>
        <div class="col-md-3">
          <i class="fa-solid fa-stopwatch"></i>
          <p>{{ recipe.time_to_prepare }} minutes</p>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="image-container">
        {% if "placeholder" in recipe.featured_image.url %}
        <img
          src="https://images.pexels.com/photos/269257/pexels-photo-269257.jpeg"
          class="img-fluid"
        />
        {% else %}
        <img src=" {{ recipe.featured_image.url }} " class="img-fluid" />
        {% endif %}
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col">
      <div class="card-body">
        <h3 class="card-text">{{ recipe.summary | safe }}</h3>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <div class="row">
        <h4>Ingredients:</h4>
        <div class="row">
          <ul>
            {% for ingredient in recipe.ingredients_list %}
            <li>
              <p>{{ ingredient }}</p>
            </li>
            {% endfor %}
          </ul>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="row">
        <h4>Instructions:</h4>
        <div class="row">{{ recipe.instructions | safe }}</div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <hr />
    </div>
  </div>
  <div class="row">
    {% if user.is_authenticated %}
    <div class="col-md-8">
      <h4>Comments:</h4>
      <div class="card-body">
        {% for comment in comments %}
        <div class="container">
          <div class="row">
            <p class="font-weight-bold">{{ comment.name }}:</p>
            <p>{{ comment.body | linebreaks }}</p>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
    <div class="col-md-4">
      <div class="row">
        {% if user.is_authenticated %}
        <ul class="btn btn-light list-inline rating-list">
            <li onclick="rate(5, {{ recipe.id }})">
                <i class="fa fa-star {% if recipe.user_rating > 4 %} checked {% endif %}" title="Rate 5"></i>
            </li>
            <li onclick="rate(4, {{ recipe.id }})">
                <i class="fa fa-star {% if recipe.user_rating > 3 %} checked {% endif %}" title="Rate 4"></i>
            </li>
            <li onclick="rate(3, {{ recipe.id }})">
                <i class="fa fa-star {% if recipe.user_rating > 2 %} checked {% endif %}" title="Rate 3"></i>
            </li>
            <li onclick="rate(2, {{ recipe.id }})">
                <i class="fa fa-star {% if recipe.user_rating > 1 %} checked {% endif %}" title="Rate 2"></i>
            </li>
            <li onclick="rate(1, {{ recipe.id }})">
                <i class="fa fa-star {% if recipe.user_rating > 0 %} checked {% endif %}" title="Rate 1"></i>
            </li>
        </ul>
        {% endif %}
      </div>
      <div class="row">
        {% if commented %}
        <div class="alert alert-success" role="alert">
            Your comment is awaiting approval
        </div>
        {% else %}
        <h4>Leave a comment:</h4>
        <p>Posting as: {{ user.username }}</p>
        <form method="post" style="margin-top: 1.3em">
            {{ comment_form | crispy }} {% csrf_token %}
            <button type="submit" name="comment_form" class="btn btn-lg">Submit</button>
        </form>
        {% endif %}
      </div>
    </div>

    {% else %}
    <div class="col-md-12">
      <h4>Comments:</h4>
      <div class="card-body">
        {% for comment in comments %}
        <div class="container">
          <div class="row">
            <p class="font-weight-bold">{{ comment.name }}:</p>
            <p>{{ comment.body | linebreaks }}</p>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
    {% endif %}
  </div>
</div>
{% endif %}
<script>
    const rate = (rating, post_id) => {
        fetch(`/rate/${post_id}/${rating}/`, {
            method: 'GET',
            headers: {
                'Content-Type': 'application/json'
            }
        }).then(rest => {
            window.location.reload();
        });
    }
</script>

{% endblock %}
