{% extends "base.html" %} {% block content %} {% load crispy_forms_tags %} 
{% if request.user == recipe.author %}
<!-- If the user is this recipe's author,
    the update recipe form will be displayed -->
<div class="container">
    <div class="row">
        <div class="col-md-8 mt-3 offset-md-2">
            <h1>Update '{{ recipe.title }}'</h1>

            <p>
                In order to ensure that this updated recipe is in accordance with our user friendly policy,
                it will be removed from public view until approved by an admin.
            </p>
            <p>
                <span class="font-weight-bold">Are you sure you want to resubmit this recipe?</span>
            </p>

            <form method="post" enctype="multipart/form-data">
                {% csrf_token %} {{ form | crispy }}
                <button class="btn btn-secondary" type="submit">Update</button>
            </form>
        </div>
    </div>
</div>
{% else %}
<!-- Should another user make their way to this page,
    this alert is displayed -->
<div class="container short-page-col">
    <div class="alert alert-info">
        <div class="row">
            <div class="card-body text-center">
                <h1>You do not have access to update this recipe.</h1>
                <h2>Return to the home page <a href="{% url 'home' %}">here.</a></h2>
            </div>
        </div>
    </div>
</div>
{% endif %} {% endblock %}